<html>
  <head>
  </head>
  <body>
  	<header>
  	  <%= render 'books/header' %>
  	</header>
   <div class="container main-contents">
   	 <div class="row">
   	 	<h1>Welcome to <span class="glyphicon glyphicon-book"></span><strong>Bookers</strong>!</h1>
     </div>
   </div>
   <footer>
   	 <%= render 'books/footer' %>
   </footer>
  </body>
</html>